<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanmaxinxi.dao.CvrelationMapper">
	<resultMap type="Cvrelation" id="CvrelationResultMap">
		<id column="id" property="id"/>
		<result column="vid" property="vid"/>
		<result column="cid" property="cid"/>
		<result column="count" property="count"/>
	</resultMap>
	<insert id="insert" parameterType="Cvrelation">
		insert into t_c_v_relation(vid,cid,count) values(#{vid},#{cid},#{count})
	</insert>
	<update id="update" parameterType="Cvrelation">
		update t_c_v_relation set vid=#{vid},cid=#{cid},count=#{count} where id=#{id}
	</update>
	<delete id="delete" parameterType="Long">
		delete from t_c_v_relation where id=#{id}
	</delete>
	<select id="selectOneById" parameterType="Long" resultMap="CvrelationResultMap">
		select * from t_c_v_relation where id=#{id}
	</select>
	<select id="selectAll" resultMap="CvrelationResultMap">
		select * from t_c_v_relation
	</select>
</mapper>